{% extends "header.html" %}
{% block content %}
  <body class="bg-secondary p-2 text-black bg-opacity-100">
    <div class="position-absolute top-50 start-50 translate-middle"> 
      <p class="fs-1 text-white text-align text-center" id="typed"></p>
      <h6 class="text-align text-white text-center" id="sub-typed"></h6>
      <div class="mt-3 d-grid gap-3 slideUp" id="hideDiv">
        <button type="button" class="btn btn-info fadeIn"><a href="/enregistrement"> Enregistrer un livre </a></button>
        <button type="button" class="btn btn-info fadeIn"><a href="/recherche/livre"> Rechercher : Titre </a></button>
        <button type="button" class="btn btn-info fadeIn"><a href="/recherche/auteur"> Rechercher : Auteur</a> </button>
        <button type="button" class="btn btn-info fadeIn"><a href="/recherche/edition"> Rechercher : Edition </a></button>
        <button type="button" class="btn btn-info fadeIn"><a href="/recherche/categorie"> Rechercher : Catégorie </a></button>

        <button type="button" class="btn btn-info fadeIn"><a href="/recherche/langue"> Rechercher : Langue </a></button>
        <button type="button" class="btn btn-dark fadeIn"><a href="/telechargement"> Generer le fichier comptable</a> </button>
      </div>
    </div>
    <script>
      const myTimeout = setTimeout(test, 5000);        
      function test() {
        document.getElementById("hideDiv").style.display = "";       
      }
    </script>
    <script type="text/javascript">
      var typed = new Typed("#typed", {
        strings: [
          "Les Editeurs Réunis."
        ],
        backSpeed: 40,
        typeSpeed: 50,
        startDelay: 0,
        showCursor: false
      });
    </script>
       
    <script type="text/javascript">
      var typed = new Typed("#sub-typed", {
        strings: [
          "Gestion des stocks et recherche de livre."
        ],
        backSpeed: 40,
        typeSpeed: 24,
        startDelay: 0,
        showCursor: false
      });
    </script>
  </body>
</html>
{% endblock content %}