{% extends "header.html" %}
{% block content %}
	<p class="fs-1 text-white text-align text-center" id="typed"></p>
	<h1 class="text-align text-white text-center slideUp" id="sub-d">{{info['titre']}}</h1>
	<div class="searchBar row">
		<div class="form-group col">
			<form action="{{info['action']}}" method="POST">

				<input class="mt-1 form-control" type="text" name="{{info['recherche']}}" required>
				<div class="form-group  col" style="float: right;">
					<input type="submit" value="Chercher">
				</div>
			</form>
		</div>
	</div>
	{% if list_livre is defined %}
		<div id="div_list_livre">
		 {% if list_livre|length > 0%}
		 	{% for livre in list_livre %}
				<div class="container recherche_box">
					<a href="/livre/{{livre['identifiant']}}"><h3>{{livre['titre']}}</h3></a>
					<div class="row">		
						<div class="col">
							<div class="recherche_auteurs">
							{% for auteur in livre['auteurs'] %}
								<h5>{{auteur['nom']}}</h5>
								{% if not loop.last %}
								,
								{% endif %}
							{% endfor %}
							</div>
							<div class="recherche_info"> 
								<h6>{{livre['edition']['nom']}}</h6>
								<h6>{{livre['categorie']['nom']}}</h6>
								<h6>{{livre['langue']['nom']}}</h6>
							</div>
						</div>

						<div class="col text-end">
							<div class="recherche_prix">
								<h4>{{livre['prix_ttc']-livre['prix_ttc']*(livre['solde']/100)}}€</h4>
								<h6> Stock : {{livre['quantite']}}</h6>
							</div>
						</div>
					</div>
				</div>
		 	{% endfor %}
		 {% else %}
		 	<h3 class="recherche_noresult"> Aucun livre trouvé </h3>
		 {% endif %}
		</div>
	{% endif %}
{% endblock content %}
